<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <main>

        <div class="hero">

            <nav>
                <ul id="ul-2" class=" ">
                    <div class="logo">
                        <img src="../img/logo-01.png" alt="" id="logo">
                    </div><i class="fa-solid fa-bars menu"></i><i class="fa-solid fa-xmark cross hide"></i>
                </ul>
                
                <ul id="ul-1">
                    <li class=" li-home">Home</li>
                    <li class="li-books">Books</li>
                    <li class="li-coaching">Coaching</li>
                    <li class="li-speaking">Speaking</li>
                    <li class="active li-about">About</li>
                    <!-- <li class="li-blog">Blog</li> -->
                    <li class="li-contact">Contact</li>
                </ul>
            </nav>



            <div class="content">

                <!-- <div class="img-1">
                <img src="../img/book-img.png" alt="" id="img01">
            </div> -->
                <div class="hero-text">

                    <!-- <img src="../img/sprinkle.png" alt=""> -->
                    <h1>DR. BEN MUELLER</h1>
                    <h2>Welcome to the World of Words and Wellness</h2>
                    <p>Dive into the dynamic world of author Dr. Ben Mueller, where sports and storytelling collide,
                        igniting a journey of inspiration and adventure.</p>

                </div>
                <div class="hero-img">
                    <img src="../img/img-13.JPG" alt="">
                </div>

            </div>
            <div class="nav ">
                <a href="/">
                    <div class="li li-home">Home</div>
                </a>
                <a href="/books">
                    <div class="li li-books">Books</div>
                </a>
                <a href="/coaching">
                    <div class="li li-coaching">Coaching</div>
                </a>
                <a href="/speaking">
                    <div class="li li-speaking">Speaking</div>
                </a>
                <a href="#">
                    <div class="li li-about">About</div>
                </a>
                <!-- <a href="/blog"><div class="li li-blog">Blog</div></a> -->
                <a href="/contact">
                    <div class="li li-contact">Contact</div>
                </a>
            </div>
            <!-- <h1 class="ben">Dr. Ben Mueller</h1> -->
        </div>


        <section class="about-section">

            <img src="../img/img-11.JPG" alt="">
            <h2>Dr. Ben Mueller</h2>
            <p>It started with completing a 10k road race at the age of 10, refereeing youth soccer games as a teenager,
                and teaching his little brother mathematics at the age of 15 - all in the city of Sheboygan, WI. Little
                did Ben know how much this would define his career and life. A Sheboygan, Wisconsin native (you can take
                the boy out of Wisconsin, but you can't take Wisconsin out of the boy), he grew up swimming on the YMCA
                swim team, playing soccer, and running track. The passion that Ben found for running performance and
                teaching others placed him on a path that he still follows as an educator, researcher of education,
                author, speaker, and creator of The Basic Ten: The Simple Way to go from Couch Potato to Fit (program
                that allows office workers to get fit in as little as 15 minutes per day).

                <br><br>Dr. Mueller has given hundreds of lectures, and has been the featured speaker at marathon expos,
                coaching clinics, youth camps and educational conferences, including the keynote at the Miami-Dade
                School District's Synergy Leadership Conference and NCAA Soccer Officials Convention (WI division). He
                has also spoken to audiences all around the United States regarding health, fitness, self-improvement,
                goal setting, running, and finding your life purpose. He has been an instructor for the United States
                Soccer Federation referee program, training thousands of soccer referees.
                <br><br>
                At the age of 24, he became one of the youngest professors in the country, teaching developmental math
                classes at a community college and successfully engaging students with high levels of math anxiety to
                better understand mathematics concepts. In 2010 and 2013 he won the Dekalb County Youth Drug Prevention
                Award for his work in the community towards youth drug prevention. He currently produces mathematics
                instructional videos for Barnes and Nobles corporation that have millions of views. <br><br>
                A prolific writer, Ben is the author of 5 books: Attain Peak Running Through Cross-training, The
                Operating Manual for Great Health, 30 Minutes to Peak Thinking, Attain Peak Referee Fitness, and The
                Basic Ten: The Simple Way to Go from Couch Potato to Fit. He completed a groundbreaking doctoral
                dissertation, a study on exercise and anxiety of students, which has paved a way for students to conquer
                math anxiety. He has written hundreds of articles published in numerous soccer, fitness, wellness, and
                education mediums, including "Ask the Referee" which was a popular international website for soccer fans
                to gain a better perspective on the rules of soccer and 'In Age of Awareness", a popular education blog.
                <br><br>
                A national caliber athlete, Ben won gold medals in the 2020 USA Masters Games (800 meter and 3200 meter
                run) and also in the 2022 State Games of America (numerous swimming events). In the summer of 2022, Ben
                was nominated the flag bearer for the state of Illinois in the State Games of America held in Des
                Moines, Iowa. He has qualified and participated in the USA National Triathlon Championships, won over
                100 road races, earned numerous gold medals at the Badger States Games (Wisconsin Olympics) in track and
                field, and was the United States Track & Field Midwest Region indoor champion in the 800 meters and
                runner up in the 1600 meters. This qualified him to run in the USATF Indoor National meet, which was
                cancelled due to the pandemic. He also has refereed collegiate and adult semi-professional soccer
                matches all over the country. For his performances at national events, Dr. Mueller was selected as a
                national All-American Athlete by the National Congress State Games.
                <br><br>
                Dr. Mueller received his educational doctorate at Concordia-Chicago University in 2021., his masters in
                educational leadership from Concordia-Chicago University in 2014, and his bachelor's of mathematics,
                with a health minor, from the University of Wisconsin-Whitewater in 2004. His current research revolves
                around several educational topics and he is currently working on two books. The first is a book of
                essays regarding life’s purpose and finding our true selves and the second a book of short stories
                illustrating the defining moments in Ben’s life.
                <br><br>
                Connect with Ben on social media <strong> @drmuellersvoice</strong> or email at
                <strong>BenjaminTMueller@gmail.com</strong> <br><br>

                <span>Press Bio:</span><br><br>
                <img src="../img/pdf2.png" alt="">
                <a href="../pdf/press-bio.pdf" target="_blank">Download</a>
            </p>

        </section>


        <footer>
            <p> Copyright © 2024 Dr. Ben Mueller</p>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <!-- <a href="#top"><i class="fa fa-arrow-up"></i></a> -->
        </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="script/about.js"></script>
</body>

</html>