<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="../favicon/favicon.ico" type="image/x-icon">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/coaching.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr.Ben Mueller</title>
</head>

<body>
    <main>
        <div class="hero">

            <nav>

                <ul id="ul-2" class=" ">
                    <div class="logo">
                        <img src="../img/logo-01.png" alt="" id="logo">
                    </div><i class="fa-solid fa-bars menu"></i><i class="fa-solid fa-xmark cross hide"></i>
                </ul>

                <ul id="ul-1">
                    <li class=" li-home">Home</li>
                    <li class="li-speaking">Speaking</li>
                    <li class="li-books">Books</li>
                    <li class="active li-coaching">Coaching</li>
                    <li class="li-about">About</li>
                    <li class="li-contact">Contact</li>
                    <!-- <li class="li-blog">Blog</li> -->
                </ul>
            </nav>



            <div class="content">

                <!-- <div class="img-1">
                    <img src="../img/book-img.png" alt="" id="img01">
                </div> -->
                <div class="hero-text">

                    <!-- <img src="../img/sprinkle.png" alt=""> -->
                    <h1>DR. BEN MUELLER</h1>
                    <h2>🎤 Keynote Speaker | Author of 5 Books 📚 |🌎 Transforming Teaching, Fitness & Leadership. 🏃USA
                        Masters Gold (T&F) 🥇</h2>
                    <p>Dive into the dynamic world of author Dr. Ben Mueller, where sports and storytelling collide,
                        igniting a journey of inspiration and adventure.</p>

                </div>
                <div class="hero-img">
                    <img src="../img/img-13.JPG" alt="">
                </div>

            </div>
            <div class="nav ">
                <a href="/">
                    <div class="li li-home">Home</div>
                </a>
                <a href="/speaking">
                    <div class="li li-speaking">Speaking</div>
                </a>
                <a href="/books">
                    <div class="li li-books">Books</div>
                </a>
                <a href="#">
                    <div class="li li-coaching">Coaching</div>
                </a>
                <a href="/about">
                    <div class="li li-about">About</div>
                </a>
                <!-- <a href="/blog"><div class="li li-blog">Blog</div></a> -->
                <a href="/contact">
                    <div class="li li-contact">Contact</div>
                </a>
            </div>
            <!-- <h1 class="ben">Dr. Ben Mueller</h1> -->
        </div>



        <!-- section -->
        <section class="coaching-section">
            <div class="h1">
                <h1>Coaching</h1>
            </div>

            <div class="plans">
                <article class="plan plan-1">
                    <div class="heading">
                        <h2>Sit down with Dr. Mueller and create a plan</h2>
                    </div>
                    <p>Become an author!  Have you always wanted to write a book, but not sure how to start?  Let 5 x author Dr. Mueller coach you through the process and make you a published author in less than one year.  Coaching includes creating ideas, book format, weekly meetings with Dr. Mueller and navigating the process of writing a book and publishing it.  You can do it!  Contact Dr. Mueller at DrMuellersVoice@gmail.com</p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctTRcaOO_G4FmQa5TAb0-1NmqAjMjKgdrOrMVVigNRWgA44g/viewform"
                        target="_blank"><button>Get Plan</button></a>
                </article>
                <article class="plan plan-2">
                    <div class="heading">
                        <h2>Weekly follow-up meetings of 30 minutes</h2>
                    </div>
                    <p>Public speaking is an integral part of many jobs, but few people are very good at it.  Let Dr. Mueller polish your speaking skills and turn you into an excellent dynamic speaker.  Dr. Mueller has addressed audiences all around the country from the staff of the Miami-Dade School District (second largest district in the US), to teachers, fitness enthusiasts, marathon runners, and teenagers.  Learn from one of the leaders in the public speaking field.  This coaching service includes an initial meeting to set up the coaching plan.  Dr. Mueller has coached professors, politicians, and professional speakers.
                    </p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctTRcaOO_G4FmQa5TAb0-1NmqAjMjKgdrOrMVVigNRWgA44g/viewform"
                        target="_blank"><button>Get Plan</button></a>
                </article>
            </div>
        </section>


        <footer>
            <p> Copyright © 2024 Dr. Ben Mueller</p>

            <div class="icons">
                <!-- <a href="#"><i class="fa-brands fa-facebook"></i></a> -->
                <a href="https://twitter.com/DrMuellersVoice"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/drmuellersvoice/"><i class="fa-brands fa-instagram"></i></a>
                <!-- <a href="#"><i class="fa-brands fa-linkedin"></i></a> -->
            </div>
            <!-- <a href="#top"><i class="fa fa-arrow-up"></i></a> -->
        </footer>

    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="script/coaching.js"></script>
</body>

</html>